* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

main {
  background-color: #F5F7FB;
  height: 400px;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  margin: auto;
}

.start-button {
  padding: 16px 40px;
  background-color: #4D5B9E;
  color: white;
  letter-spacing: .15em;
  font-weight: 500;
  border: none;
  border-radius: 15px;

}
