* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #293264;
  font-weight: 700;
}

main {
  background-color: #F5F7FB;
  height: 400px;
  width: 550px;
  height: 550px;
  margin: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 150px;
}

.start-button {
  padding: 16px 40px;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  color: white;
  font-size: 1.125rem;
  letter-spacing: .15em;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 1.125rem; 
}

.quiz {
  padding: 5px 75px;
}

.question {
  font-size:  1.125rem;  
}

hr {
  margin-top: 20px;
  border: 0.8px solid #DBDEF0;
}

.buttons {
  display: flex;
  gap: 15px;

}
ul {
  list-style: none;
}

.answer-container {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  padding: 0;
}
.answer-button {
  font-family: 'Karla';
  border: .8px #4D5B9E solid;
  color: #4D5B9E;
  background: white;
  border-radius: 8px;
  padding: 3px 15px;
  width: 100px;
  text-align: center;
}

